resource "github_repository_file" "codeowners" {
  repository = "github-terraform-task-Enk0n"
  branch     = "main"
  file       = ".github/CODEOWNERS"

  content = "* @softservedata\n"

  commit_message      = "Add CODEOWNERS"
  commit_author       = "Terraform"
  commit_email        = "terraform@example.com"
  overwrite_on_create = true
}
